html {
  width: 100%;
  height: 100%;
}
#logo {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#logoImg {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  pointer-events: none;
  user-select: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  margin: 0;
  background-color: #9f8c72;
  color: #77614b;
}
.menu{
  display: flex;
  justify-content: center;
  background-color: #77614b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.menu a {
  padding: 14px;
  text-decoration: none;
  color: white;
  transition: background-color .5s;
}

.menu a:hover {
  background-color: #77614b;
  color: #9f8c72;
}

.menu ul {
  padding: 30px;
}

.menu ul li {
  display: inline-block;
}

.menu logoImg{
  float: right;
  display: flex;
}

/*.produto {
  position: absolute;
}*/
.foto {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.tituloProduto {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*float: right;*/
  color: white;
  padding: 30px;
  font-size: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.precoProduto {
  color: white;
}

.grid {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.hTitulo {
  color: white;
  background-color: #9f8c72;
  height: 30%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.coluna-esquerda {
  width: 70%;
  float: left;
}

.card-lateral {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.13);
  color: black;
}

.coluna-direita {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-principal {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.13);
  color: black;
  overflow: auto;
  height: 1325px;
  margin: 20px
}

.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social img {
  margin: 10px;
  cursor: pointer;  
  opacity: .5;
  transition: opacity .5s;
}

.social img:hover {
  opacity: 1;
}

/*segundo site - sobre*/

.hTitulo2 {
  display: flex;
  justify-content: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.text {
  color: #352b20;
}

.foto2 {
  padding-top: 10px;
  width: 200px;
  height: 200px;
  float: left;
  margin: 0px 30px 30px 0;
}

/*terceiro site - dúvidas*/

.pergunta {
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #352b20;
  background-color: #9f8c72;
}

.resposta {
  margin: 20px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #352b20;
}


